@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/material-icons.woff') format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 10px;
}

.card-square.mdl-card {
  width: 512px;
  height: 512px;
}

.card-square > .mdl-card__title {
  position: relative;
  color: #fff;
  background-image: url('assets/512.png');
  background-size: 40% 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fe7205;
}

.card-square > .mdl-card__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: linear-gradient(to top, #00000063, transparent);
}

.card-square > .mdl-card__title span {
  position: relative;
}
